# Generic
*~
.project
.settings
.idea
/*.plt
/*.plt.hash
/_build
/hexer
/hexer.config
/cover

# erlang
*.swp
*.dump
*.beam
*.d
*.app
/ebin
/logs
/log
/.erlang.mk
/test/ct.cover.spec

/demo/ebin
/rel
/deps

# Documentation
/doc
# EDTS
.edts
