# Generic
*~
.project
.settings
.idea
/_build
/hexer
/hexer.config

# erlang
*.swp
*.dump
*.beam
*.d
*.app
/ebin
/logs
/log
/.erlang.mk

/demo/ebin
/rel
/deps

# Documentation
/doc/edoc-info

# EDTS
.edts

# Build artifacts for cpp test client
/test/dbus_client_SUITE_data/example-service/*
!/test/dbus_client_SUITE_data/example-service/main.cpp
!/test/dbus_client_SUITE_data/example-service/example-service.pro
