# Generic
*~
.project
.settings
.idea
/_build
/hexer
/hexer.config

# erlang
*.swp
*.dump
*.beam
*.d
*.app
/ebin
/logs
/log
/.erlang.mk

/demo/ebin
/rel
/deps

# Documentation
/doc/edoc-info

# EDTS
.edts
