% -*- mode: erlang -*-
{erl_first_files, ["src/gen_dbus.erl"]}.
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,{i, "../include"}
	    ,{i, "../../include"}
         ]}.

{sub_dirs, ["demo"]}.

{require_otp_vsn, "R1[56]B"}.

{deps, [{unixdom_drv, ".*", 
	 {{git, "git://github.com/jeanparpaillon/unixdom_drv.git", "master"}}}
       ]}.
