% -*- mode: erlang -*-
{require_min_otp_vsn, "R18"}.

{deps, [
  {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}},
  {inert, {git, "https://github.com/msantos/inert.git", {tag, "0.2.1"}}}
 ]}.

{erl_first_files, ["src/auth/dbus_auth.erl"]}.

{overrides, [
  {add, procket, [
    {plugins, [pc]},

    {provider_hooks, [
      {post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}
     ]}
   ]}
 ]}.
