% -*- mode: erlang -*-
{erl_first_files, ["src/gen_dbus.erl"]}.
{erl_opts, [debug_info
	    ,{src_dirs, ["src"]}
	    ,{i, "../include"}
	    ,{i, "../../include"}
         ]}.

{sub_dirs, ["demo"]}.

{require_min_otp_vsn, "R15B"}.

{deps, [{lager, ".*",
	  {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
	{procket, ".*",
	 {git, "https://github.com/msantos/procket.git", "master"}},
	{inert, ".*",
	 {git, "https://github.com/msantos/inert.git", "master"}}
       ]}.
